<header class="container mx-auto max-w-screen-2xl pt-16 px-8 pb-6 flex gap-x-2 items-center justify-between">
  <%= image_tag "/citylab-logo-monochrome.svg", class: "w-72 h-auto" %>
  <h1 class="text-gray-900 font-extrabold text-2xl">Ideenwürfel</h1>
</header>