<header class="container mx-auto max-w-screen-2xl px-8 py-6 flex gap-x-2 items-center">
  <%= image_tag "/citylab-icon.svg", class: "w-10 h-auto" %>
  <h1 class="text-gray-900 text-xl"><b>CityLAB</b> <span class="text-gray-900/80">Ideenwürfel</span></h1>
</header>