<div class="p-4 w-full justify-self-center self-center">
  <% if @latest_rolls.compact.present? %>
    <div class="grid grid-cols-3 gap-4">
      <% @latest_rolls.each do |roll| %>
        <div class="px-4 py-8 border border-gray-400 rounded text-center">
          <%= turbo_stream_from dom_id(roll.side.die) %>
          <div id="<%= dom_id(roll.side.die) %>">
            <%= render partial: "sides/side", locals: { side: roll.side } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
