@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "National";
    font-style: normal;
    font-weight: 400;
    src: local("National-Regular"),
      url(NationalWeb-Regular.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "National";
    font-style: normal;
    font-weight: 800;
    src: local("National-Extrabold"),
      url(NationalWeb-Extrabold.woff2) format("woff2");
    font-display: swap;
  }

  body {
    @apply text-gray-900 antialiased;
  }
}

.turbo-progress-bar {
  @apply bg-pink h-2;
}
