<div id="<%= dom_id(roll) %>">
  <input type="hidden" autocomplete="off" value="<%= roll.id %>" name="idea[roll_ids][]">
  <p><%= roll.side.die.title %></p>
  <h2 class="text-2xl font-bold"><%= roll.side.title %></h2>
</div>
